<a href="https://colab.research.google.com/github/IshaKanani/statistical_analysis_final_project/blob/master/dfw_flights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

#File "int_2011 downloaded from https://www.transtats.bts.gov/Fields.asp, by setting the parameters to Texas, 2011"
raw = pd.read_csv("int_2011.csv")
raw1 = raw[(raw.ORIGIN =="DFW") | (raw.DEST =="DFW")].groupby(raw.MONTH).count()
raw1['MONTH']

MONTH
1     136
2     149
3     134
4     147
5     142
6     154
7     153
8     155
9     147
10    148
11    148
12    146
Name: MONTH, dtype: int64

In [3]:
raw1

,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,MONTH,Unnamed: 7
MONTH,,,,,,,,
1,136,136,136,136,136,136,136,0
2,149,149,149,149,149,149,149,0
3,134,134,134,134,134,134,134,0
4,147,147,147,147,147,147,147,0
5,142,142,142,142,142,142,142,0
6,154,154,154,154,154,154,154,0
7,153,153,153,153,153,153,153,0
8,155,155,155,155,155,155,155,0
9,147,147,147,147,147,147,147,0
10,148,148,148,148,148,148,148,0
11,148,148,148,148,148,148,148,0
12,146,146,146,146,146,146,146,0

In [4]:
raw1['MONTH']

MONTH
1     136
2     149
3     134
4     147
5     142
6     154
7     153
8     155
9     147
10    148
11    148
12    146
Name: MONTH, dtype: int64